<!-- --------------if--------------------------- -->

<!-- a : <input type="number" [(ngModel)]="a"> <br>
b : <input type="number" [(ngModel)]="b"> <br>

@if (a > b) {
    <p>{{a}} is greater than {{b}}</p>
  } @else {
    <p>{{a}} is lesser than {{b}}</p>
  } -->

  <!-- ---------------------------for----------------------- -->

New Task: <input type="text" [(ngModel)]="newTask"><br>
<div style="color: red;">{{error}}</div>

@if(isEdit){
    <button (click)="save()">Save</button>
    <button (click)="cancel()">Cancel</button>
}@else {
    <button (click)="add()">Add</button>
}


<ol>
    @for (task of tasks; track $index){
        <li>{{task}} <button (click)="delete($index)">Delete</button>
            <button (click)="edit($index)">Edit</button></li>
    }
</ol>